* text=auto eol=lf

*.icns binary
*.gif binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.png binary
*.zip binary

*.plist text eol=lf
*.swift text eol=lf
*.xcprivacy text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
